@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.form-container {
  margin-top: 6%;
  margin-left: 30%;
  max-width: 600px;
  max-height: 1080px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0px 19px 38px 0px rgba(0, 0, 0, 0.3),
    11px 4px 33px -39px rgba(0, 0, 0, 0.22);
}
.form-container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.form-container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input,
.user-details .input-box textarea,
.user-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  color: rgb(103 103 103);
}
.user-details .input-box input:focus,
.user-details .input-box textarea:focus,
.user-details .input-box select:focus{
  border-color: #9b59b6;
}
form .gender-details {
  width: 100%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
}
form .gender-details .gender-title {
  margin-bottom: 1%;
  font-weight: 500;
}

form input[type="radio"] {
  height: 0.9rem;
  width: 0.9rem;
}

form input[type="checkbox"] {
  height: 0.9rem;
  width: 0.9rem;
}

.about-area{
  width: 100% !important;
}

form textarea {
  height: 7.9rem !important;
  width: 100% !important;
}


.gender-radio label {
  margin-right: 3%;
}

.custom-radio {
  appearance: none;
  -webkit-appearance: none;
  border: 0.2rem solid #fff;
  background-color: rgba(98, 98, 98, 0.127);
  border-radius: 50%;
}

.custom-box {
  appearance: none;
  -webkit-appearance: none;
  border: 0.2rem solid #fff;
  background-color: rgba(98, 98, 98, 0.127);
  border-radius: 20%;
}

.custom-radio:focus-visible {
  outline-offset: 0;
}

.box-shadow {
  box-shadow: 0 0 0 1px black;
}

.box-shadow:hover {
  border-width: 0;
}

.box-shadow:checked {
  box-shadow: 0 0 0 1px rgb(49, 43, 130);
  background-color: rgb(14, 14, 226);
  border-width: 0.2rem;
}

.addr{
    width: 70% !important;
}

.country{
    width: 30% !important;
}

.address{
    display: flex;
}

.address input{
    margin-right: 3%;
}

form .button {
  height: 45px;
  margin: 35px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form .button input:hover {
  transform: scale(0.99);
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

.err{
  color:red;
  font-size: 1rem;
  display: flex;
  justify-content: baseline;
}

.err img.i{
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: text-bottom;
}

.side-nav .nav-menu {
  height: 100vh;
  position: fixed;
}
